* {
    padding: 0;
    margin: 0;
}

:root{
    --dark-color: rgb(9, 13, 39);
    --light-color: white;
    --main-color: orange;

    --content-width: clamp(5rem, 100%, 60rem)
}
html{
    overflow-x: clip;
}
body{
    background-color: var(--dark-color);
    color: var(--light-color);
}

div{
    display: block;
}
